@charset "utf-8"

$upComputer: "您的電腦已經連接到網絡。"
$upDevice: "您的設備已經連接到網絡。"
$upDeviceSmall: "您的設備已經連接到網絡。"

$downComputer: "您的電腦失去了網絡連接。"
$downDevice: "您的設備失去了網絡連接。"
$downDeviceSmall: "您的設備失去了網絡連接。"

$connecting: "正在嘗試重連..."

$retryButton: "重連"

$reconnectFailed: "嘗試連接網絡失敗。"

$retryingSecondBeforeValueSingularComputer: "失去網絡連接。即將重連："
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "即將重連："
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: "秒..."
$retryingSecondAfterValuePluralComputer: "秒..."

$retryingSecondAfterValueSingularDeviceSmall: "s..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: "分鐘..."
$retryingMinuteAfterValuePluralComputer: "分鐘..."

$retryingMinuteAfterValueSingularDeviceSmall: "m..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: "小時..."
$retryingHourAfterValuePluralComputer: "小時..."

$retryingHourAfterValueSingularDeviceSmall: "h..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall
