@charset "utf-8"

$upComputer: "Váš počítač je připojen k internetu."
$upDevice: "Vaše zařízení je připojeno k internetu."
$upDeviceSmall: "Vaše zařízení je připojeno."

$downComputer: "Váš počítač ztratil připojení k internetu."
$downDevice: "Vaše zařízení ztratilo připojení k internetu."
$downDeviceSmall: "Vaše zařízení není připojeno."

$connecting: "Zkouším se znovu připojit..."

$retryButton: "Znovu připojit"

$reconnectFailed: "Pokus o připojení selhal."

$retryingSecondBeforeValueSingularComputer: "Připojení ztraceno. Znovu zkusím za "
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "Znovu zkusím za "
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: " sekundu..."
$retryingSecondAfterValuePluralComputer: " sekund..."

$retryingSecondAfterValueSingularDeviceSmall: "s..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: " minutu..."
$retryingMinuteAfterValuePluralComputer: " minut..."

$retryingMinuteAfterValueSingularDeviceSmall: "m..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: " hodinu..."
$retryingHourAfterValuePluralComputer: " hodin..."

$retryingHourAfterValueSingularDeviceSmall: "h..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall
