$upComputer: "Ihr Computer ist mit dem Internet verbunden."
$upDevice: "Ihr Gerät ist mit dem Internet verbunden."
$upDeviceSmall: "Ihr Gerät ist verbunden."

$downComputer: "Ihr Computer hat die Internetverbindung verloren."
$downDevice: "Ihr Gerät hat die Internetverbindung verloren."
$downDeviceSmall: "Ihr Gerät ist nicht verbunden."

$connecting: "Versuche Verbindung wiederherzustellen ..."

$retryButton: "wiederverbinden"

$reconnectFailed: "Verbindungsversuch gescheitert."

$retryingSecondBeforeValueSingularComputer: "Verbindung verloren. Neuer Versuch in "
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "Neuer Versuch in "
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: " Sekunde..."
$retryingSecondAfterValuePluralComputer: " Sekunden..."

$retryingSecondAfterValueSingularDeviceSmall: "s..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: " Minute..."
$retryingMinuteAfterValuePluralComputer: " Minuten..."

$retryingMinuteAfterValueSingularDeviceSmall: "m..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: " Stunde..."
$retryingHourAfterValuePluralComputer: " Stunden..."

$retryingHourAfterValueSingularDeviceSmall: "h..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall