@charset "utf-8"
$upComputer: "ستاسو د کمپيوټر له انټرنيټ سره وصل دی."
$upDevice: "ستاسو وسيله چې د انټرنټ سره نښلي."
$upDeviceSmall: "ستاسو آله سره نښلي."

$downComputer: "ستاسو د کمپيوټر د خپل د انټرنېټ پیوستون له لاسه ورکړ."
$downDevice: "ستاسو آله خپل د انټرنېټ پیوستون له لاسه ورکړ."
$downDeviceSmall: "ستاسو آله نه نښلي."

$connecting: "هڅه کوي تر څو یو ځل بیا سره نښلوي"

$retryButton: "بيا ونښلوي"

$reconnectFailed: "پیوستون هڅه ناکامه شوه."

$retryingSecondBeforeValueSingularComputer: "پیوستون له لاسه ورکړ. بيا په سره نښلوي"
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "بيا په سره نښلوي"
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: "دوهم..."
$retryingSecondAfterValuePluralComputer: "ثانيو ..."

$retryingSecondAfterValueSingularDeviceSmall: "s..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: "دقیقه ..."
$retryingMinuteAfterValuePluralComputer: "دقیقو ..."

$retryingMinuteAfterValueSingularDeviceSmall: "m..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: "ساعت ..."
$retryingHourAfterValuePluralComputer: "ساعتونو کې ..."

$retryingHourAfterValueSingularDeviceSmall: "h..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall
