@charset "utf-8"
$upComputer: "Twój komputer jest podłączony do internetu."
$upDevice: "Twoje urządzenie jest podłączone do internetu."
$upDeviceSmall: "Twoje urządzenie jest podłączone."

$downComputer: "Twój komputer stracił połączenie z internetem."
$downDevice: "Twoje urządzenie straciło połączenie z internetem."
$downDeviceSmall: "Twoje urządzenie nie jest podłączone."

$connecting: "Próbuję połączyć..."

$retryButton: "Połącz teraz"

$reconnectFailed: "Nieudana próba podłączenia."

$retryingSecondBeforeValueSingularComputer: "Połączenie utracone. Ponawiam za "
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "Ponawiam za "
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: " sekundę..."
$retryingSecondAfterValuePluralComputer: " sekund..."

$retryingSecondAfterValueSingularDeviceSmall: "s..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: " minutę..."
$retryingMinuteAfterValuePluralComputer: " minut..."

$retryingMinuteAfterValueSingularDeviceSmall: "m..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: " godzinę..."
$retryingHourAfterValuePluralComputer: " godzin..."

$retryingHourAfterValueSingularDeviceSmall: "h..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall
