$upComputer: "Ваш компьютер подключен к интернету."
$upDevice: "Ваше устройство подключено к интернету."
$upDeviceSmall: "Устройство подключено."

$downComputer: "Ваш компьютер потерял соединение с интернетом."
$downDevice: "Ваше устройство потеряло соединение с интернетом."
$downDeviceSmall: "Ваше устройство не подключено."

$connecting: "Попытка переподключиться..."

$retryButton: "Переподключиться"

$reconnectFailed: "Попытка подключения не удалась."

$retryingSecondBeforeValueSingularComputer: "Соединение потеряно. Переподключение через "
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "Переподключение через "
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: " секунду..."
$retryingSecondAfterValuePluralComputer: " сек..."

$retryingSecondAfterValueSingularDeviceSmall: "с..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: " минуту..."
$retryingMinuteAfterValuePluralComputer: " мин..."

$retryingMinuteAfterValueSingularDeviceSmall: "м..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: " час..."
$retryingHourAfterValuePluralComputer: " ч..."

$retryingHourAfterValueSingularDeviceSmall: "ч..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall
