@charset "utf-8"
$upComputer: "您的电脑网络已经连接."
$upDevice: "您的设备网络已经连接."
$upDeviceSmall: "您的设备已在线."

$downComputer: "您的电脑网络已经中断."
$downDevice: "您的设备网络已经中断."
$downDeviceSmall: "您的设备已离线."

$connecting: "正在尝试重连中..."

$retryButton: "重连"

$reconnectFailed: "重连尝试失败."

$retryingSecondBeforeValueSingularComputer: "连接丢失. 正在重连 "
$retryingSecondBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingMinuteBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingMinuteBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingHourBeforeValueSingularComputer: $retryingSecondBeforeValueSingularComputer
$retryingHourBeforeValuePluralComputer: $retryingSecondBeforeValueSingularComputer

$retryingSecondBeforeValueSingularDeviceSmall: "正在重连 "
$retryingSecondBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingMinuteBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingMinuteBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingHourBeforeValueSingularDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall
$retryingHourBeforeValuePluralDeviceSmall: $retryingSecondBeforeValueSingularDeviceSmall

$retryingSecondAfterValueSingularComputer: " 秒..."
$retryingSecondAfterValuePluralComputer: " 秒..."

$retryingSecondAfterValueSingularDeviceSmall: "s..."
$retryingSecondAfterValuePluralDeviceSmall: $retryingSecondAfterValueSingularDeviceSmall

$retryingMinuteAfterValueSingularComputer: " 分..."
$retryingMinuteAfterValuePluralComputer: " 分..."

$retryingMinuteAfterValueSingularDeviceSmall: "m..."
$retryingMinuteAfterValuePluralDeviceSmall: $retryingMinuteAfterValueSingularDeviceSmall

$retryingHourAfterValueSingularComputer: " 时..."
$retryingHourAfterValuePluralComputer: " 时..."

$retryingHourAfterValueSingularDeviceSmall: "h..."
$retryingHourAfterValuePluralDeviceSmall: $retryingHourAfterValueSingularDeviceSmall