@charset "UTF-8";
/* line 5, ../sass/offline-language-arabic-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "متصل.";
}
/* line 10, ../sass/offline-language-arabic-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "غير متصل.";
}
