@charset "UTF-8";
/* line 3, ../sass/offline-language-spanish-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "En línea";
}
/* line 6, ../sass/offline-language-spanish-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Fuera de línea";
}
