/* line 5, ../sass/offline-language-italian-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Online";
}
/* line 10, ../sass/offline-language-italian-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Offline";
}
