/* line 6, ../sass/_content.sass */
.offline-ui .offline-ui-retry:before, .offline-ui .offline-ui-login:before {
  content: "Opnieuw";
}
/* line 11, ../sass/_content.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Computer verbonden met internet.";
}
@media (max-width: 1024px) {
  /* line 11, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Apparaat verbonden met internet.";
  }
}
@media (max-width: 568px) {
  /* line 11, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Apparaat verbonden met internet.";
  }
}
/* line 22, ../sass/_content.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Computer niet verbonden met internet.";
}
@media (max-width: 1024px) {
  /* line 22, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Apparaat niet verbonden met internet.";
  }
}
@media (max-width: 568px) {
  /* line 22, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Apparaat niet verbonden met internet.";
  }
}
/* line 33, ../sass/_content.sass */
.offline-ui.offline-ui-logout .offline-ui-content:before {
  content: "Uw sessie is verlopen.";
}
/* line 40, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before, .offline-ui.offline-ui-logout.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-logout.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Opnieuw proberen...";
}
/* line 49, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " seconden...";
}
@media (max-width: 568px) {
  /* line 49, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "s...";
  }
}
/* line 57, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " seconde...";
}
@media (max-width: 568px) {
  /* line 57, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "s...";
  }
}
/* line 65, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " minuten...";
}
@media (max-width: 568px) {
  /* line 65, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "m...";
  }
}
/* line 73, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " minuut...";
}
@media (max-width: 568px) {
  /* line 73, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "m...";
  }
}
/* line 81, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " uren...";
}
@media (max-width: 568px) {
  /* line 81, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "u...";
  }
}
/* line 89, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " uur...";
}
@media (max-width: 568px) {
  /* line 89, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "u...";
  }
}
/* line 98, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry, .offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-login, .offline-ui.offline-ui-logout.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry, .offline-ui.offline-ui-logout.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-login {
  display: none;
}
/* line 101, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before, .offline-ui.offline-ui-logout.offline-ui-reconnect-failed-2s .offline-ui-content:before {
  content: "Poging mislukt.";
}
/* line 109, ../sass/_content.sass */
.offline-ui.offline-ui-logout.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-logout.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Opnieuw proberen...";
}
/* line 118, ../sass/_content.sass */
.offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " seconden...";
}
/* line 123, ../sass/_content.sass */
.offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " seconde...";
}
/* line 128, ../sass/_content.sass */
.offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " minuten...";
}
/* line 133, ../sass/_content.sass */
.offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " minuut...";
}
/* line 138, ../sass/_content.sass */
.offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " uren...";
}
/* line 142, ../sass/_content.sass */
.offline-ui.offline-ui-logout.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " uur...";
}
