/* line 5, ../sass/offline-language-english-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "מחובר";
}
/* line 10, ../sass/offline-language-english-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "מנותק";
}
