@charset "UTF-8";
/* line 5, ../sass/offline-language-french-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Connecté";
}
/* line 10, ../sass/offline-language-french-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Pas connecté";
}
