/* line 5, ../sass/offline-language-portuguese-brazil-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Conectado";
}
/* line 10, ../sass/offline-language-portuguese-brazil-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Desconectado";
}
