/* line 6, ../sass/_content.sass */
.offline-ui .offline-ui-retry:before {
  content: "Opnieuw";
}
/* line 11, ../sass/_content.sass */
.offline-ui .offline-ui-sign-in:before {
  content: "Aanmelden";
}
/* line 16, ../sass/_content.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Computer verbonden met internet.";
}
@media (max-width: 1024px) {
  /* line 16, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Apparaat verbonden met internet.";
  }
}
@media (max-width: 568px) {
  /* line 16, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Apparaat verbonden met internet.";
  }
}
/* line 27, ../sass/_content.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Computer niet verbonden met internet.";
}
@media (max-width: 1024px) {
  /* line 27, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Apparaat niet verbonden met internet.";
  }
}
@media (max-width: 568px) {
  /* line 27, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Apparaat niet verbonden met internet.";
  }
}
/* line 38, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized .offline-ui-content:before {
  content: "Uw sessie is verlopen.";
}
/* line 45, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Opnieuw proberen...";
}
/* line 54, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " seconden...";
}
@media (max-width: 568px) {
  /* line 54, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "s...";
  }
}
/* line 62, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " seconde...";
}
@media (max-width: 568px) {
  /* line 62, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "s...";
  }
}
/* line 70, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " minuten...";
}
@media (max-width: 568px) {
  /* line 70, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "m...";
  }
}
/* line 78, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " minuut...";
}
@media (max-width: 568px) {
  /* line 78, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "m...";
  }
}
/* line 86, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " uren...";
}
@media (max-width: 568px) {
  /* line 86, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "u...";
  }
}
/* line 94, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Internetverbinding kwijt. Opnieuw proberen over " attr(data-retry-in-value) " uur...";
}
@media (max-width: 568px) {
  /* line 94, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Opnieuw proberen over " attr(data-retry-in-value) "u...";
  }
}
/* line 103, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry, .offline-ui.offline-ui-unauthorized.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none;
}
/* line 106, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-reconnect-failed-2s .offline-ui-content:before {
  content: "Poging mislukt.";
}
/* line 114, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Opnieuw proberen...";
}
/* line 123, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " seconden...";
}
/* line 128, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " seconde...";
}
/* line 133, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " minuten...";
}
/* line 138, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " minuut...";
}
/* line 143, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " uren...";
}
/* line 147, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Sessie verlopen. Opnieuw proberen over " attr(data-retry-in-value) " uur...";
}
