@charset "UTF-8";
/* line 6, ../sass/_content.sass */
.offline-ui .offline-ui-retry:before {
  content: "Reconectar";
}
/* line 11, ../sass/_content.sass */
.offline-ui .offline-ui-sign-in:before {
  content: "Registrarse";
}
/* line 16, ../sass/_content.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Tu computador está conectado a internet.";
}
@media (max-width: 1024px) {
  /* line 16, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Tu dispositivo está conectado a internet.";
  }
}
@media (max-width: 568px) {
  /* line 16, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Tu dispositivo está conectado.";
  }
}
/* line 27, ../sass/_content.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Tu computador perdió su conexión a internet.";
}
@media (max-width: 1024px) {
  /* line 27, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Tu dispositivo perdió su conexión a internet.";
  }
}
@media (max-width: 568px) {
  /* line 27, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Tu dispositivo no está conectado.";
  }
}
/* line 38, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized .offline-ui-content:before {
  content: "Su sesión ha caducado.";
}
/* line 45, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Intentando reconectar...";
}
/* line 54, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Conexión perdida. Reconectando en " attr(data-retry-in-value) " segundos...";
}
@media (max-width: 568px) {
  /* line 54, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Reconectando en " attr(data-retry-in-value) "s...";
  }
}
/* line 62, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Conexión perdida. Reconectando en " attr(data-retry-in-value) " segundo...";
}
@media (max-width: 568px) {
  /* line 62, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Reconectando en " attr(data-retry-in-value) "s...";
  }
}
/* line 70, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Conexión perdida. Reconectando en " attr(data-retry-in-value) " minutos...";
}
@media (max-width: 568px) {
  /* line 70, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Reconectando en " attr(data-retry-in-value) "m...";
  }
}
/* line 78, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Conexión perdida. Reconectando en " attr(data-retry-in-value) " minuto...";
}
@media (max-width: 568px) {
  /* line 78, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Reconectando en " attr(data-retry-in-value) "m...";
  }
}
/* line 86, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Conexión perdida. Reconectando en " attr(data-retry-in-value) " horas...";
}
@media (max-width: 568px) {
  /* line 86, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Reconectando en " attr(data-retry-in-value) "h...";
  }
}
/* line 94, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Conexión perdida. Reconectando en " attr(data-retry-in-value) " hora...";
}
@media (max-width: 568px) {
  /* line 94, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before, .offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Reconectando en " attr(data-retry-in-value) "h...";
  }
}
/* line 103, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry, .offline-ui.offline-ui-unauthorized.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none;
}
/* line 106, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-reconnect-failed-2s .offline-ui-content:before {
  content: "Intento fallido.";
}
/* line 114, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-unauthorized.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Intentando reconectar...";
}
/* line 123, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Sesión expirada. Volver a conectar en " attr(data-retry-in-value) " segundos...";
}
/* line 128, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Sesión expirada. Volver a conectar en " attr(data-retry-in-value) " segundo...";
}
/* line 133, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Sesión expirada. Volver a conectar en " attr(data-retry-in-value) " minutos...";
}
/* line 138, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Sesión expirada. Volver a conectar en " attr(data-retry-in-value) " minuto...";
}
/* line 143, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Sesión expirada. Volver a conectar en " attr(data-retry-in-value) " horas...";
}
/* line 147, ../sass/_content.sass */
.offline-ui.offline-ui-unauthorized.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Sesión expirada. Volver a conectar en " attr(data-retry-in-value) " hora...";
}
