/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 800;
  display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
  display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
  display: block;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Online";
}
/* line 22, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
  display: block;
}
/* line 25, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Offline";
}

/* line 11, ../sass/offline-theme-default-indicator.sass */
.offline-ui {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", sans-serif;
  white-space: nowrap;
  padding: 1em;
  width: 5em;
  max-width: 100%;
  bottom: 1em;
  left: 1em;
}
/* line 21, ../sass/offline-theme-default-indicator.sass */
.offline-ui.offline-ui-up {
  background: #aacbf5;
  color: #1f4779;
}
/* line 25, ../sass/offline-theme-default-indicator.sass */
.offline-ui.offline-ui-down {
  background: #ec8787;
  color: #551313;
}
