@charset "UTF-8";
/* line 5, ../sass/offline-language-turkish-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Çevrimiçi";
}
/* line 10, ../sass/offline-language-turkish-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Çevrimdışı";
}
