/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 2000;
  display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
  display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
  display: block;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
  display: block;
}

/* line 8, ../sass/offline-theme-dark-indicator.sass */
.offline-ui {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  padding: 1em;
  width: 6.3em;
  background: black;
  color: #cccccc;
  bottom: 0;
  left: 20px;
}
/* line 20, ../sass/offline-theme-dark-indicator.sass */
.offline-ui .offline-ui-content {
  padding-left: 1.5em;
}
/* line 23, ../sass/offline-theme-dark-indicator.sass */
.offline-ui .offline-ui-content:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1em;
  margin: auto;
  height: 0.8em;
  width: 0.8em;
}
/* line 37, ../sass/offline-theme-dark-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:after {
  background: #80d580;
}
/* line 42, ../sass/offline-theme-dark-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:after {
  background: #e24949;
}
