@charset "UTF-8";
.offline-ui .offline-ui-retry:before {
  content: "Znovu připojit"; }
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Váš počítač je připojen k internetu."; }
  @media (max-width: 1024px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Vaše zařízení je připojeno k internetu."; } }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Vaše zařízení je připojeno."; } }
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Váš počítač ztratil připojení k internetu."; }
  @media (max-width: 1024px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Vaše zařízení ztratilo připojení k internetu."; } }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Vaše zařízení není připojeno."; } }
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Zkouším se znovu připojit..."; }
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Připojení ztraceno. Znovu zkusím za " attr(data-retry-in-value) " sekund..."; }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
      content: "Znovu zkusím za " attr(data-retry-in-value) "s..."; } }
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Připojení ztraceno. Znovu zkusím za " attr(data-retry-in-value) " sekundu..."; }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
      content: "Znovu zkusím za " attr(data-retry-in-value) "s..."; } }
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Připojení ztraceno. Znovu zkusím za " attr(data-retry-in-value) " minut..."; }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
      content: "Znovu zkusím za " attr(data-retry-in-value) "m..."; } }
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Připojení ztraceno. Znovu zkusím za " attr(data-retry-in-value) " minutu..."; }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
      content: "Znovu zkusím za " attr(data-retry-in-value) "m..."; } }
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Připojení ztraceno. Znovu zkusím za " attr(data-retry-in-value) " hodin..."; }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
      content: "Znovu zkusím za " attr(data-retry-in-value) "h..."; } }
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Připojení ztraceno. Znovu zkusím za " attr(data-retry-in-value) " hodinu..."; }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
      content: "Znovu zkusím za " attr(data-retry-in-value) "h..."; } }
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none; }
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
  content: "Pokus o připojení selhal."; }
